Invoice_Agent.json
{
  "name": "Invoice Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3cb9192a-54d4-4b1f-abc7-b447d266a773",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1088,
        -240
      ],
      "id": "ec2038f1-330a-4aa0-be2d-3c9cc5397193",
      "name": "Webhook",
      "webhookId": "3cb9192a-54d4-4b1f-abc7-b447d266a773"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this image.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a document classifier. \nYou know the following classes of images:\n- Invoice\n- Letter\n- Drawing\n- Other\nOnly output the class of the image.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -704,
        -208
      ],
      "id": "a2f147ca-258b-40f3-98b0-6aede1903e1c",
      "name": "Classification Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"class\": \"Documentclass\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -544,
        16
      ],
      "id": "92116a5e-6597-4ebb-849f-e8631c1a2645",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3afe997-db2e-40a7-bf97-278f654d54d8",
              "leftValue": "={{$input.item.json.output.class}}",
              "rightValue": "Invoice",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        -208
      ],
      "id": "c563f2de-2f3e-440c-97e9-dbc35d614097",
      "name": "Check if Invoice"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"sendername\": \"Hans Müller\",\n    \"recipientname\":\"Max Musterman\",\n    \"totalamount\": \"17,20€\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        240,
        -192
      ],
      "id": "391e17da-79fa-4023-933d-1dfcc2bc8e0b",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        -448
      ],
      "id": "8c3954ad-321b-47f0-af3c-1b5003e6c5a2",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"type\":\"invoice\",\n  \"autoprocess\":\"yes\",\n  \"value\": \"{{ $node[\"Merge1\"].json[\"output\"].totalamount }}\",\n  \"recipient\": \"{{ $node[\"Merge1\"].json[\"output\"].recipientname }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1424,
        -576
      ],
      "id": "7a0b735c-2319-4a08-9c0b-8a389256a3a1",
      "name": "Autom. Freigabe"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"type\":\"invoice\",\n  \"autoprocess\":\"no\",  \n  \"value\":\"{{ $node[\"Merge1\"].json[\"output\"].totalamount }}\",\n  \"recipient\": \"{{ $node[\"Merge1\"].json[\"output\"].recipientname }}\",\n  \"error\":\"{{ $json.output.error}}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1424,
        -304
      ],
      "id": "7bd9a941-8a77-4d27-a613-0da1b7736560",
      "name": "Keine autom. Freigabe"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -816,
        64
      ],
      "id": "c0883baf-410a-458c-9cb2-c2d983f0f102",
      "name": "Business GPT",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Nsg17ogE4710NYxm",
          "name": "Business GPT"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -592,
        176
      ],
      "id": "22b9341c-b355-4ad8-a56b-1f2db0b2e9ae",
      "name": "Business GPT1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Nsg17ogE4710NYxm",
          "name": "Business GPT"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        16,
        -208
      ],
      "id": "013a7144-817c-45b3-8a3d-861344714e8f",
      "name": "Business GPT2",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Nsg17ogE4710NYxm",
          "name": "Business GPT"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\":\"No invoice - not supported yet\"\n}",
        "options": {
          "responseCode": 413
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -176,
        -80
      ],
      "id": "ea01cee0-a16a-407c-bd88-58375ff7cf79",
      "name": "Keine Rechnung"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        -448
      ],
      "id": "7e3347f7-f949-4dfc-82a2-9d74fd0e463f",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5mEb2jFd3AXQongx",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ccfe91c5-4649-448c-9497-50eb7ad292b1",
              "leftValue": "={{ $input.item.json.hasAttachments }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        -448
      ],
      "id": "64cae9ee-5288-44c7-97b4-7e5e1be3ce8d",
      "name": "Check Attachment"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        768,
        -192
      ],
      "id": "71588622-2445-43e6-af8b-78e777a81a9b",
      "name": "Business GPT3",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Nsg17ogE4710NYxm",
          "name": "Business GPT"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"result\": \"valid or invalid\",\n\t\"error\": \"empty for valid or reason test for invalid\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        -240
      ],
      "id": "4327dac4-2b30-4619-98fd-0a2b99cefedf",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        928,
        -112
      ],
      "id": "a53cc84a-63cc-45a2-894d-b5479aeb19d8",
      "name": "Calculator"
    },
    {
      "parameters": {
        "fileSelector": "/data/complianceregeln.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        336,
        -592
      ],
      "id": "dc3691b3-8cc0-4cda-bac4-a2e0ca514da1",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        512,
        -592
      ],
      "id": "06122a18-9100-4c3b-a2ab-04030faafbce",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        -464
      ],
      "id": "e5733c1f-dc13-4446-b007-4ab95e28fbdc",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please extract the following properties from the given image for me:\n- sender company name (from the contact information)\n- recipient company name (from the letterhead)\n- totalsum",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert for invoice processing. You help to extract the relevant information from invoice documents for people.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        -448
      ],
      "id": "baa9330f-641c-429f-803c-5562a5469b26",
      "name": "Invoice Extraction Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du bist ein Validierungs-Agent, der ausschließlich JSON ausgibt.\nAnalysiere die folgenden Rechnungsdaten anhand der vorgegebenen Compliance-Regeln.\n\nGib nur ein JSON-Objekt im folgenden Format zurück (keinen erklärenden Text, keine Kommentare):\n{\n  \"result\": \"valid\" | \"invalid\",\n  \"error\": \"\"\n}\n\nRegeln für die Ausgabe:\n\t•\tWenn die Rechnung alle Compliance-Regeln erfüllt, setze \"result\": \"valid\" und \"error\": \"\".\n\t•\tWenn die Rechnung gegen eine oder mehrere Regeln verstößt, setze \"result\": \"invalid\" und schreibe die Begründung in \"error\".\n\t•\tGib keinen weiteren Text außerhalb des JSON aus.\n\nCompliance-Regeln: \n{{ $input.item.json.data }}\n\nBeispielausgaben:\n\t•\tBeispiel 1 (gültig): {\"result\": \"valid\", \"error\": \"\"}\n\t•\tBeispiel 2 (ungültig): {\"result\": \"invalid\", \"error\": \"Empfänger ist nicht Musterfirma AG.\"}\n\nZu prüfende Rechnungsdaten: \n{{ JSON.stringify($input.item.json.output) }}\n\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        848,
        -464
      ],
      "id": "4492adfb-e685-4980-b858-2a784857b7f6",
      "name": "Compliance Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9548f6c1-248d-4c40-853b-ec549e8f78d3",
              "leftValue": "={{ $json.output.result }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        -464
      ],
      "id": "30a082d1-d45e-4814-ae57-6cd9e4119bb2",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classification Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classification Agent": {
      "main": [
        [
          {
            "node": "Check if Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Classification Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check if Invoice": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Keine Rechnung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Invoice Extraction Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Invoice Extraction Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business GPT": {
      "ai_languageModel": [
        [
          {
            "node": "Classification Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Business GPT1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Business GPT2": {
      "ai_languageModel": [
        [
          {
            "node": "Invoice Extraction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Check Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Attachment": {
      "main": [
        [
          {
            "node": "Classification Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Business GPT3": {
      "ai_languageModel": [
        [
          {
            "node": "Compliance Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Compliance Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Compliance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Compliance Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Extraction Agent": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Keine autom. Freigabe": {
      "main": [
        []
      ]
    },
    "Compliance Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Autom. Freigabe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keine autom. Freigabe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d0c8eae-1a58-4ca8-94ae-59ae4620253d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a0200f4d4945326b6824e4735f196ae946170e5adba2e96f096b3ea36482742"
  },
  "id": "P1w9sAO6cIDP8VdR",
  "tags": []
}